<div class="container">
    <div class="row nosotros justify-content-center">
        <div class="col-12 text-center">
            <h2 class="subtitulo"><span>¿Quienes somos?</span></h2>
            <h3 class="titulo">Nuestra pasión por piedras exóticas y la elegancia.</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis illum sequi quia doloribus quas consequatur autem inventore soluta voluptatum vero quibusdam illo cum, quod nostrum aspernatur. Autem, amet quasi.
            </p>
            <a href="#" class="enlace">Descubre tu próximo diseño</a>
        </div>
    </div>

    <div class="row productos">
        <article class="col-12 text-center">
            <h2 class="subtitulo"><span>Lo que ofrecemos</span></h2>
            <p class="titulo">Nuestros Produtos</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit veniam saepe cum aspernatur neque odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae deserunt perferendis. Lorem ipsum dolor sit amet consectetur.</p>
        </article>

        <div class="col-12">
            <div class="row justify-content-center">
                <article class="col-6 col-lg-3 py-1">
                    <figure class="producto">
                        <img src="../../../assets/FB_IMG_1655940915058.jpg" class="img-fluid" alt="">
                        <figcaption class="overlay">
                            <p class="overlay-texto">Descripción pequeña</p>
                        </figcaption>
                    </figure>
                </article>

                <article class="col-6 col-lg-3 py-1">
                    <figure class="producto">
                        <img src="../../../assets/drimosoft-img-fondo.jpg" class="img-fluid" alt="">
                        <figcaption class="overlay">
                            <p class="overlay-texto">Descripción pequeña</p>
                        </figcaption>
                    </figure>
                </article>

                <article class="col-6 col-lg-3 py-1">
                    <figure class="producto">
                        <img src="../../../assets/drimosoft-img-fondo.jpg" class="img-fluid" alt="">
                        <figcaption class="overlay">
                            <p class="overlay-texto">Descripción pequeña</p>
                        </figcaption>
                    </figure>
                </article>

                <article class="col-6 col-lg-3 py-1">
                    <figure class="producto">
                        <img src="../../../assets/drimosoft-img-fondo.jpg" class="img-fluid" alt="">
                        <figcaption class="overlay">
                            <p class="overlay-texto">Descripción pequeña</p>
                        </figcaption>
                    </figure>
                </article>

                <button class="d-block btn-productos">Todos los productos</button>
            </div>
        </div>
    </div>
</div>
